
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*border: 1px solid #ccc;*/
    background-color: black;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: #eeeeee;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 16px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color:rgb(143, 143, 143); background-color: rgba(143, 143, 143, 0.68);}

/* Create an active/current tablink class */
ul.tab li a[target] {background-color:rgb(67, 167, 199);background-color: rgba(67, 167, 199, 1);}


/* Style the tab content */
.tabcontentLeft {
    display: none;
    padding: 6px 11px;
    border: 1px solid #ccc;
    border-top: none;
    border-left: none;
    height: 100%;
    top: 38px;
    position: fixed;
    background: rgba(46,74,110,0.6);
    color: #FFFFFF;
    width: 20.5%;
    left: 0;
    overflow: auto;
    /*margin: 50px auto 0 auto;*/
}

.tabcontentRight {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    height: 100%;
    top: 38px;
    position: fixed;
    background: rgb(46, 74, 110);
    background: rgba(46,74,110,0.5);
    color: #FFFFFF;
    width: 15%;
    right: 0;
    overflow: auto;
    /*margin: 50px auto 0 auto;*/
}

.tabcontentInfo {
    font-size: 10px;
    display: none;
    height: 100%;
    top: 95px;
    position: fixed;
    color: #FFFFFF;
    width: auto;
    overflow: auto;
}

.tabcontentSpecial {
    width: 0;
    height: 0;
    display: none;
}

.tabcontentGraphs {
    display: none;
    top: 95px;
    position: fixed;
    color: #FFFFFF;
    overflow: hidden;
}

@font-face {
    font-family: 'megrim';
    src: url('./new_eq_app_files/Megrim.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica Light';
    src: url('./new_eq_app_files/Helvetica Light.ttf') format('truetype');
}

.logo{
    font-family: 'megrim', Fallback, sans-serif;
    font-size: 16px;
}

.containerFont {
    font-family: 'Helvetica Light', Fallback, sans-serif;
}

.smallRule {
    border: 1px solid #FFF;
    border-top: none;
    border-left: none;
    border-right: none;
}

.leftTabPadding {
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.tourButtonsUP {
    position: fixed;
    bottom: 5%;
    /*right: 48%;*/
    height: 5%;
}

.tourButtonsDOWN {
    position: fixed;
    bottom: 5%;
    right: 50%;
    height: 5%;
}

/* ----------------- MODIFICADO ----------------- */

body{
    background-image: url("https://images.wallpaperscraft.com/image/single/stars_space_dark_139528_1920x1080.jpg");
    
}

.base{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none; /* flex */
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}
.base-table{
    background-color: rgba(46,74,110,1);
    border-radius: 5px;
    width: 40%;
    height: 80%;
}

.cross{
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: right;
    padding: 0.25em 0.5em;
    cursor: pointer;
}

.content{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: large;
    padding: 0 2rem;
    padding-bottom: 0.5em;
}

.content-title{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
}

.content-value{
    text-align: center;
    font-size: 3rem;
    padding: 1rem;
    color: red;
}

.content-elements{
    list-style: none;
    margin-block-start: 0;
    padding-inline-start: 0;
}
.content-elements > li{
    border: 2px solid lightgray;
    border-radius: 15px;
    margin: 1em 0;
    color: white;
    /*text-align: center;*/
    width: 100%;
    padding: 0.5em;

    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.content-elements > li:nth-child(1){ animation-delay: .2s }
.content-elements > li:nth-child(2){ animation-delay: .4s }
.content-elements > li:nth-child(3){ animation-delay: .6s }
.content-elements > li:nth-child(4){ animation-delay: .8s }
.content-elements > li:nth-child(5){ animation-delay: 1s }

@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
  }
  @keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
  }

.category-value{
    width: 50%;
    text-align: right;
}